* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

/* Navigation Styling */
.navi {
  margin-bottom: 30px;
}

.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

.navi li {
  float: right;
}

.navi li a {
  display: block;
  background-color: navy;
  color: white;
  padding: 23px 20px;
  text-decoration: none;
}

.navi li a:hover {
  background-color: crimson;
  transition: 0.3s ease;
}

.navi .name {
  float: left;
}

.navi .name a {
  color: gold;
}

.navi .name a:hover {
  background-color: darkorchid;
}

/* Courses styling */
.img-with-text {
  width: 700px;
  margin-top: 100px;
  float: left;
}

#GH_image {
  width: 700;
  height: 400;
  margin-bottom: 10px;
}

.github_Text {
  margin-left: 164px;
  color: darkblue;
  font-weight: bold;
}

.coursesContainer ul {
  margin-left: 720px;
}

.coursesContainer ul li {
  margin-bottom: 7px;
}

/* Denote my current classes differently than my previous ones */
.WIP {
  color: red;
}

/* Adjusting styling for smaller screens - designed for split screen from my laptop. 
The idea is to have the GitHub image and text in the center above everything, then the list
and description of my courses beneath it. */
/* With the minimal space it may be better to remove the image, but I compromised to move it up top
to not take up as much room */
@media screen and (max-width: 1608px) {
  .img-with-text {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 400px;
    margin-bottom: 15px;
  }
  img {
    max-width: 40%;
    height: auto;
    margin: auto;
  }
  .github_Text {
    margin: auto;
    font-size: 10pt;
    white-space: initial;
    display: block;
  }
  .coursesContainer ul {
    margin: 0;
  }
  .courses {
    margin: 0;
    text-align: center;
  }
  .courses ul {
    text-align: left;
    margin-left: 130px;
    margin-bottom: 25px;
  }
}
