* {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Navigation Styling */
.navi {
  width: 100%;
  position: fixed;
  z-index: 10000;
  margin-bottom: 30px;
  top: 0px;
}

.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

.navi li {
  float: right;
}

.navi li a {
  display: block;
  background-color: navy;
  color: white;
  padding: 25px 20px;
  text-decoration: none;
}

.navi li a:hover {
  background-color: crimson;
  transition: 0.3s ease;
}

.navi .name {
  float: left;
}

.navi .name a {
  color: gold;
}

.navi .name a:hover {
  background-color: darkorchid;
}

/* Body Styling */
.ProjectsContainer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
  /* Making sure that the text is far enough away from the edges */
}

h1 {
  color: navy;
}

h2 {
  color: goldenrod;
}

h3 {
  color: navy;
  margin-bottom: 5px;
}

.multi {
  margin-top: 5px;
}

/* Style for the line breaks */
hr {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 82%;
  background-color: black;
  padding-left: 50px;
  padding-right: 50px;
}
