* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

.ideas_temp {
  text-align: center;
}

.navi {
  margin-bottom: 30px;
}

.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

.navi li {
  float: right;
}

.navi li a {
  display: block;
  background-color: navy;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
}

.navi li a:hover {
  background-color: crimson;
  transition: 0.3s ease;
}

.navi .name {
  float: left;
}

.navi .name a {
  color: gold;
}

.navi .name a:hover {
  background-color: darkorchid;
}

/* About Me styling */

.AboutMeContainer {
  background-color: rgb(211, 211, 211, 65%);
}

.pic_with_links {
  float: left;
  margin-left: 344px;
  text-align: center;
  padding-right: 20px;
}

.aboutMeName {
  margin-left: 20px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}
/* No matter what, the space between the pic and the text isn't changing. For now, just changing the padding for the image */

.collegeInfo {
  font-size: 15px;
  font-weight: bold;
}

.wrapup {
  padding: 0px;
  margin: 0px;
}

.degree {
  padding: 0px;
  margin: 0px;
}

/* Projects Styling */

.ProjectsContainer {
  background-color: lightblue;
  text-align: left;
  /* ^This won't work. Unsure why atm. Maybe I'll need to manually make each part center that I want, instead of making 
  EVERYTHING center. Then I can manually make this left*/
}

.project_beginning {
  column-count: 2;
}

.col2 {
  margin-top: 200px;
  padding-top: 45px;
}

.first_project {
  padding-top: 15px;
}

.last_project {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#website_preview {
  margin-left: 25px;
  margin-right: 8px;
  padding: 0;
}

#app_preview {
  margin-right: 8px;
}

#keyb_preview {
  margin-right: 8px;
}

#sql_preview {
  margin-right: 8px;
}

#sys_preview {
  margin-right: 8px;
}

/* Darkening the image when hovered to aid user experience */
#website_preview:hover {
  filter: brightness(40%);
}

#app_preview:hover {
  filter: brightness(40%);
}

#keyb_preview:hover {
  filter: brightness(40%);
}

#sql_preview:hover {
  filter: brightness(40%);
}

#sys_preview:hover {
  filter: brightness(40%);
}

.learnMore {
  border-color: violet;
  background-color: violet;
  margin-left: 0px;
  border-width: 10px;
  font-size: 15px;
  color: yellow;
}

.learnMore:hover {
  border-color: blue;
  background-color: blue;
  color: white;
}

/* Skills Styling */

.SkillsContainer {
  background-color: rgb(204, 204, 255);
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  color: black;
  font-size: 13pt;
}

.row_one {
  column-count: 3;
  /* https://www.w3schools.com/css/css3_multiple_columns.asp for column info. Can set column-gap and such */
  text-align: center;
}

.row_two {
  column-count: 3;
  text-align: center;
}

.row_three {
  column-count: 2;
  text-align: center;
}
