* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

.ideas_temp {
  text-align: center;
}

.navi {
  margin-bottom: 30px;
}

.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

.navi li {
  float: right;
}

.navi li a {
  display: block;
  background-color: navy;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
}

.navi li a:hover {
  background-color: crimson;
  transition: 0.3s ease;
}

.navi .name {
  float: left;
}

.navi .name a {
  color: gold;
}

.navi .name a:hover {
  background-color: darkorchid;
}

/* About Me styling */

.pic_with_links {
  float: left;
  margin-left: 344px;
  text-align: center;
  padding-right: 20px;
}

.aboutMeName {
  margin-left: 20px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}
/* No matter what, the space between the pic and the text isn't changing. For now, just changing the padding for the image */

.collegeInfo {
  font-size: 15px;
  font-weight: bold;
}

.wrapup {
  padding: 0px;
  margin: 0px;
}

.degree {
  padding: 0px;
  margin: 0px;
}

/* Projects Styling */

.ProjectsContainer {
  background-color: lightblue;
  text-align: left;
  /* ^This won't work. Unsure why atm. Maybe I'll need to manually make each part center that I want, instead of making 
  EVERYTHING center. Then I can manually make this left*/
}

#website_preview {
  margin-left: 30px;
  padding: 0;
}

/*We want the image to darken a little when the user hovers over the pic. Unsure how to do it rn  */
#website_preview:hover {
  color: gray;
}

#web_description {
  margin: 0;
  padding: 0;
  margin-left: 0px;
}

.learnMore {
  border-color: violet;
  background-color: violet;
  margin-left: 20px;
  border-width: 10px;
  font-size: 15px;
  color: yellow;
}
