* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

/* Getting rid of side-scroll bar */
body {
  overflow-x: hidden;
}

/* Navigation style (heading) */
.navi {
  margin-bottom: 30px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}
/* Z-index pushes the navbar forward, meaning nothing can be displayed over it. 
Without this, the Learn More buttons were displaying over it and blocking some of the content */

.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

.navi li {
  float: right;
}

.navi li a {
  display: block;
  background-color: navy;
  color: white;
  padding: 25px 20px;
  text-decoration: none;
}

.navi li a:hover {
  background-color: crimson;
  transition: 0.3s ease;
}

.navi .name {
  float: left;
}

.navi .name a {
  color: gold;
}

.navi .name a:hover {
  background-color: darkorchid;
}

/* About Me styling */

/* Blending the colors of the current and next container/sections, hoping this looks more seamless and smoother */
.AboutMeContainer {
  background-image: linear-gradient(rgb(211, 211, 211, 65%) 86%, lightblue);
  margin-top: 50px;
  width: 100%;
}

.pic_with_links {
  float: left;
  margin-left: 344px;
  text-align: center;
  padding-right: 20px;
}

.info {
  margin-top: 10px;
}

.aboutMeName {
  margin-left: 20px;
  padding-left: 20px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 2px;
}

.collegeInfo {
  font-size: 15px;
  font-weight: bold;
}

.text {
  margin-right: 500px;
}

.background {
  font-weight: 500;
  margin-top: 8px;
}

.bgnd2 {
  margin-top: 15px;
}

.interests {
  margin-top: 15px;
  margin-bottom: 15px;
}

.wrapup {
  padding: 0px;
  margin: 0px;
}

/* Projects Styling */

/* Blending the colors of the current and next container/sections, hoping this looks more seamless and smoother */
.ProjectsContainer {
  background-image: linear-gradient(lightblue 69%, rgb(204, 204, 255));
  text-align: left;
  color: purple;
  font-weight: 500;
}

.project_beginning {
  column-count: 2;
}

.col2 {
  margin-top: 100px;
  padding-top: 45px;
}

/* Setting each project image/anchor + description to display as a flexbox to fix an issue with 
the href (deadzone) */
.first_project {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.second_project {
  display: flex;
  flex-direction: row;
  /* I think the direction is row by default, but it's still beneficial to remind myself that it is a row. */
}

.third_project {
  display: flex;
  flex-direction: row;
}

.fourth_project {
  display: flex;
  flex-direction: row;
}

.fifth_project {
  display: flex;
  flex-direction: row;
}

.sixth_project {
  display: flex;
  flex-direction: row;
}

/* These adjustments are for the Project Descriptions - not the Learn More buttons 
We are changing the positioning of the text to be relative, and moving it down to
around the middle of each image */

.web_desc {
  position: relative;
  top: 74px;
  margin-bottom: 23px;
  margin-right: 100px;
}

.app_desc {
  position: relative;
  top: 95px;
  margin-bottom: 42px;
}

.keyb_desc {
  margin-top: 10px;
  margin-right: 75px;
  position: relative;
  top: 36px;
}

.sql_desc {
  position: relative;
  top: 108px;
  margin-bottom: 71px;
  margin-right: 10px;
}

.sys_desc {
  position: relative;
  top: 75px;
  margin-bottom: 35px;
  margin-right: 100px;
}

.csharp_desc {
  position: relative;
  top: 90px;
  margin-bottom: 70px;
  margin-right: 30px;
}

/* These are the images for each of the 5 projects */
#website_preview {
  margin-left: 25px;
  margin-right: 8px;
  padding: 0;
}

#app_preview {
  margin-right: 8px;
}

#keyb_preview {
  margin-top: 10px;
  margin-right: 8px;
}

#sql_preview {
  margin-right: 8px;
}

#sys_preview {
  margin-right: 8px;
}

/* Darkening the image when hovered to tell when the user can click on the href */
#website_preview:hover {
  filter: brightness(40%);
}

#app_preview:hover {
  filter: brightness(40%);
}

#keyb_preview:hover {
  filter: brightness(40%);
}

#sql_preview:hover {
  filter: brightness(40%);
}

#sys_preview:hover {
  filter: brightness(40%);
}

#csharp_preview:hover {
  filter: brightness(40%);
}

/* Unique Learn More buttons for each Project */
.learnMoreWeb {
  border-color: violet;
  background-color: violet;
  border-width: 10px;
  font-size: 15px;
  color: yellow;
  position: relative;
  bottom: 113px;
  left: 433px;
}

.learnMoreTod {
  border-color: violet;
  background-color: violet;
  border-width: 10px;
  font-size: 15px;
  color: yellow;
  position: relative;
  bottom: 150px;
  left: 397px;
}

.learnMoreKeyb {
  border-color: violet;
  background-color: violet;
  border-width: 10px;
  font-size: 15px;
  color: yellow;
  position: relative;
  bottom: 125px;
  left: 422px;
}

.learnMoreSql {
  border-color: violet;
  background-color: violet;
  border-width: 10px;
  font-size: 15px;
  color: yellow;
  position: relative;
  bottom: 164px;
  left: 438px;
}

.learnMoreSys {
  border-color: violet;
  background-color: violet;
  border-width: 10px;
  font-size: 15px;
  color: yellow;
  position: relative;
  bottom: 135px;
  left: 437px;
}

.learnMoreCsharp {
  border-color: violet;
  background-color: violet;
  border-width: 10px;
  font-size: 15px;
  color: yellow;
  position: relative;
  bottom: 150px;
  left: 360px;
}

/* Changing the colors when hovered to indicate the user can click the anchor tag */
.learnMoreWeb:hover,
.learnMoreTod:hover,
.learnMoreKeyb:hover,
.learnMoreSql:hover,
.learnMoreSys:hover,
.learnMoreCsharp:hover {
  border-color: blue;
  background-color: blue;
  color: white;
}

/* Skills Styling */

.SkillsContainer {
  background-color: rgb(204, 204, 255);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: black;
  font-size: 13pt;
  width: 100%;
  margin-left: 0px;
}

.SkillsContainer p {
  color: gray;
}

.row_one {
  column-count: 3;
  text-align: center;
}

.row_two {
  column-count: 3;
  text-align: center;
}

.row_three {
  column-count: 3;
  text-align: center;
}

/* Styling of the footer */
.footerContainer {
  margin: 0;
  padding: 0;
  background-color: navy;
  font-size: 16pt;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

/* Removing bullets and changing text color to white */
.footer ul {
  list-style-type: none;
  overflow: hidden;
  color: white;
}

.footer li {
  float: left;
  padding-left: 30px;
}

/* Styling the button - getting rid of the border and making it blend with the container colors */
.cntbtn {
  border: none;
  outline: inherit;
  background: none;
  color: white;
  font-size: 18pt;
}

/* Combining Contact Me and Resume + About Me hover turning the text color gold */
.cntbtn:hover,
#hoverFooter:hover,
#hoverFooter2:hover {
  color: gold;
  font-weight: bold;
}

.footer li a {
  color: white;
}

.footer a i:hover {
  color: red;
}

#contact_info {
  text-align: center;
  background-color: navy;
  color: white;
}

/* For the Contact Info button, default is on hide (showing nothing) */
.show {
  display: block;
}

.hide {
  display: none;
}

/* Styling for my laptop */
@media screen and (max-width: 1708px) {
  .learnMore {
    left: 0px;
  }
  .row_two {
    margin-right: 20px;
  }
  .row_three {
    margin-right: 20px;
  }
  /* Adjusting LearnMore buttons for laptops; moving them down to 
     mirror how they look on Desktop/bigger screens */
  .learnMoreTod,
  .learnMoreSql,
  .learnMoreSys {
    margin-top: 10px;
  }
  /* The sysadmin description was lower on laptop than my preferred height */
  .sys_desc {
    margin-top: -5px;
  }
}
/* Moving down the AboutMe text for even smaller laptops like my Dad's */
@media screen and (max-width: 1537px) {
  .info {
    margin-top: 0px;
  }
  .AboutMeContainer {
    margin-left: auto;
    margin-right: auto;
  }
  .pic_with_links {
    margin-left: 20px;
  }
  .text {
    margin-right: 75px;
  }
}

/* Styling for SMALL laptops or split-screen tabs */
@media screen and (max-width: 1200px) {
  .text {
    margin-right: 0px;
  }
  .pic_with_links {
    margin-left: auto;
    margin-right: auto;
    float: left;
  }
  .first_project,
  .third_project,
  .fifth_project,
  .sixth_project {
    margin-left: auto;
    margin-right: auto;
  }
  .first_project img,
  .second_project img,
  .third_project img,
  .fourth_project img,
  .fifth_project img {
    width: 200px;
    height: 200px;
  }
  .sixth_project img {
    margin-left: 0;
    width: 150px;
    height: 150px;
  }
  .fourth_project {
    margin-top: -50px;
  }
  .web_desc,
  .app_desc,
  .sql_desc,
  .sys_desc,
  .keyb_desc,
  .csharp_desc {
    top: 30px;
    margin-right: 0px;
  }
  .learnMoreWeb {
    bottom: 100px;
    left: 230px;
  }
  .learnMoreTod {
    left: 265px;
    bottom: 130px;
  }
  .learnMoreKeyb {
    left: 245px;
    bottom: 111px;
  }
  .learnMoreSql {
    left: 237px;
  }
  .learnMoreSys {
    left: 237px;
    bottom: 120px;
  }
  .learnMoreCsharp {
    left: 260px;
    bottom: 80px;
  }
}

/* Attempting Styling for Mobile Phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .body {
    background-size: 100% 100%;
  }
  .AboutMeContainer {
    margin-top: 0px;
    margin-bottom: -500px;
  }
  .pic_with_links {
    margin-left: auto;
    margin-right: auto;
    float: left;
  }
  .pic_with_links img {
    height: 1000px;
  }
  .info h3 {
    margin-top: -60px;
    margin-bottom: -8px;
    font-size: 8pt;
  }
  .aboutMeName,
  .collegeInfo {
    font-size: 7pt;
  }
  .aboutMeName {
    margin-bottom: -8px;
  }
  .info,
  .background {
    margin-left: auto;
    margin-right: auto;
    font-size: 8pt;
  }

  .bgnd2,
  .interests {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
  }
}
