* {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

li {
  float: right;
}

li a {
  display: block;
  background-color: navy;
  color: white;
  padding: 25px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: crimson;
  transition: 0.3s ease;
}

.name {
  float: left;
}

.name a {
  color: gold;
}

.name a:hover {
  background-color: darkorchid;
}

/* Unique styling for the page */
body {
  background-image: linear-gradient(to right, yellow, rgb(255, 127, 80) 40%);
  /* Attempt to match the background color to the Keyboard Warriors logo, unsure if it's too distracting */
}

p {
  font-weight: bold;
  margin: 8px;
  color: navy;
  font-size: 15pt;
  margin-left: 75px;
  margin-right: 75px;
  padding-right: 75px;
  padding-left: 75px;
  /* Adjusting how much screen the paragraph text takes up; there's probably a more efficient way to do this */
}
