* {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navi {
  margin-bottom: 10px;
}

.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

.navi li {
  float: right;
}

.navi li a {
  display: block;
  background-color: navy;
  color: white;
  padding: 25px 20px;
  text-decoration: none;
}

.navi li a:hover {
  background-color: crimson;
  transition: 0.3s ease;
}

.navi .name {
  float: left;
}

.navi .name a {
  color: gold;
}

.navi .name a:hover {
  background-color: darkorchid;
}

p {
  margin-left: 240px;
  margin-right: 240px;
  padding-right: 240px;
  padding-left: 240px;
}

h2 {
  margin-bottom: 2px;
}

hr {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 1000px;
  background-color: black;
}

/* Styling of the footer */
.footerContainer {
  margin: 0;
  padding: 0;
  background-color: navy;
  font-size: 16pt;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

/* Removing bullets and changing text color to white */
.footer ul {
  list-style-type: none;
  overflow: hidden;
  color: white;
}

.footer li {
  float: left;
  padding-left: 30px;
}

/* Styling the button - getting rid of the border and making it blend with the container colors */
.cntbtn {
  border: none;
  outline: inherit;
  background: none;
  color: white;
  font-size: 18pt;
}

/* Combining Contact Me and Resume + About Me hover turning the text color gold */
.cntbtn:hover,
#hoverFooter:hover {
  color: gold;
  font-weight: bold;
}

.footer li a {
  color: white;
}

.footer a i:hover {
  color: red;
}

#contact_info {
  text-align: center;
  background-color: navy;
  color: white;
}

/* For the Contact Info button, default is on hide (showing nothing) */
.show {
  display: block;
}

.hide {
  display: none;
}
