* {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #747880;
}

li {
  float: right;
}

li a {
  display: block;
  background-color: #747880;
  color: navy;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: crimson;
  transition: 0.3s ease;
}
