* {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: lightblue;
  color: rgb(125, 6, 189, 80%);
  /* Really need to fix this color. Want to make it darker, but also lighter. I feel like
  it needs to be way more readable */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

li {
  float: right;
}

li a {
  display: block;
  background-color: navy;
  color: white;
  padding: 25px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: crimson;
  transition: 0.3s ease;
}

.name {
  float: left;
}

.name a {
  color: gold;
}

.name a:hover {
  background-color: darkorchid;
}

h2 {
  color: magenta;
}

.info {
  margin: 5px 5px;
  padding: 5px 5px;
}

p {
  margin-left: 240px;
  margin-right: 240px;
  padding-right: 240px;
  padding-left: 240px;
  font-weight: 530;
  /* Maybe keep the text within the image width? */
}

hr {
  border: 1px solid;
  margin-left: 440px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 1000px;
}
