* {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  /* Really need to fix this color. Want to make it darker, but also lighter. I feel like
  it needs to be way more readable */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

/* Navigation (top) styling */
.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

.navi li {
  float: right;
}

.navi li a {
  display: block;
  background-color: navy;
  color: white;
  padding: 25px 20px;
  text-decoration: none;
}

.navi li a:hover {
  background-color: crimson;
  transition: 0.3s ease;
}

.navi .name {
  float: left;
}

.navi .name a {
  color: gold;
}

.navi .name a:hover {
  background-color: darkorchid;
}

/* Body styling */
h2 {
  color: magenta;
}

.info {
  margin: 5px 5px;
  padding: 5px 5px;
  background-color: lightblue;
}

p {
  margin-left: 240px;
  margin-right: 240px;
  padding-right: 240px;
  padding-left: 240px;
  font-weight: 530;
  color: rgb(125, 6, 189, 80%);
}

p a {
  color: rgb(125, 6, 189, 80%);
}

/* Style for the line breaks */
hr {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 1000px;
  background-color: black;
}

/* Styling the captions for the slideshow */
#caption1,
#caption2,
#caption3,
#caption4,
#caption5 {
  color: navy;
}

/* Styling the Flowchart Diagram to make it visible */
.mxgraph {
  background-color: white;
  color: white;
}

/* Styling of the footer */
.footerContainer {
  margin: 0;
  padding: 0;
  background-color: navy;
  font-size: 16pt;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

/* Removing bullets and changing text color to white */
.footer ul {
  list-style-type: none;
  overflow: hidden;
  color: white;
}

.footer li {
  float: left;
  padding-left: 30px;
}

/* Styling the button - getting rid of the border and making it blend with the container colors */
.cntbtn {
  border: none;
  outline: inherit;
  background: none;
  color: white;
  font-size: 18pt;
}

/* Combining Contact Me and Resume + About Me hover turning the text color gold */
.cntbtn:hover,
#hoverFooter:hover {
  color: gold;
  font-weight: bold;
}

.footer li a {
  color: white;
}

.footer a i:hover {
  color: red;
}

#contact_info {
  text-align: center;
  background-color: navy;
  color: white;
}

#contact_info p {
  color: white;
}

/* For the Contact Info button, default is on hide (showing nothing) */
.show {
  display: block;
}

.hide {
  display: none;
}
